<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="IOT Cloud Platform">
    <meta name="author" content="Wester">

    <title>Great-Fortune IOT Cloud Platform</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{{ url_for('static', filename='css/metisMenu.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/sb-admin-2.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    
    <!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <script type="text/javascript" src="{{ url_for('static', filename='js/appconstants.js') }}"></script>

</head>

<body>

    <div class="container" ng-app="LoginApp" ng-controller="LoginController">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign In</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" ng-submit="Login()">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="User ID" name="userID" autofocus 
                                    	ng-disabled="uidisable" ng-model="userid" ng-focus="recoverUI()" >
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" name="password" type="password" value="" 
                                    	ng-disabled="uidisable" ng-model="password" ng-focus="recoverUI()" >
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me" ng-disabled="uidisable">Remember Me
                                    </label>
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <div class="form-group">
                                	<a href="#" class="btn btn-lg btn-success btn-block" ng-click="Login()" ng-disabled="uidisable">Login</a>
                                	<button style="display: none;" type="submit"></button>
                                </div>
                                <div ng-class="msgStyle" id="msgBox" role="alert" style="display: none;">
        							<strong>Response Message:</strong> {{'{{'}}displayMessage{{'}}'}}.
      							</div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-2.1.1.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/metisMenu.min.js') }}"></script>

    <!-- Custom Theme JavaScript -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/sb-admin-2.js') }}"></script>
    
    <!-- Enable AngularJS -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular-animate.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular-route.js"></script>
    
    <!-- AnularJS controller -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/login_controller.js') }}"></script>
    
    
    

</body>

</html>
